body, html {
    height: 97%;
    user-select: none;
    -moz-user-select: none;
}
.leaflet-control-attribution.leaflet-control {
    display: none;
}
.leaflet-marker-icon:hover {
    transition: filter 0.15s;
    filter: brightness(150%);
}
.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    background: #38352e !important;
    color: #d4d4d4 !important;
}
.leaflet-popup-close-button {
    font-size: 24px !important;
    margin-right: 1%;
}
body {
    font-family: 'Nunito';
    background-color: #1d1a14;
}
#map { 
    height: 97vh; 
    width: 100%; 
    background-color: #1d1a14; 
}

#made {
    display: block;
    position: absolute;
    top: 0;
    font-size: large;
    color: #FF0000;
    text-decoration: none;

}
#dz {
    color: #FF0000;
}

#dc {
    position: absolute;
    margin-top: 9%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    width: 15%; 
    cursor: pointer;
} 
#dn {
    position: absolute;
    width: 32%;
    height: 5%;
    z-index: 1000;
    display: none;
    border-style: solid;
    border-width: 3px;
    border-color: #38352e;
}
.F {
    display: none;
    z-index: 1000;
    transition: filter 0.15s;
    border-style: solid;
    border-width: 3px;
    border-color: #38352e;
}
.F:hover {
    filter: brightness(225%) !important;
    width: 105% !important;
    height: 105% !important;
    margin-left: -2% !important;
}

.menu {
    visibility: hidden;
    height: 0%;
    width: 0%;
    z-index: 1000;
    background-color: rgb(56, 53, 46, 0.75);
    color: #c0c0c0;
    border-radius: 8px;
    transition: width 0.1s;
}

#check {
    position: relative;
    flex-direction: column;
    
}
#reqs, #van {  
    font-size: 20px;
    text-align: center;
    display: none;
}
#van {
    padding-top: 0.1%;
}
#reqs {
    padding-top: 0.5%;
}
#cinfo {
    padding-top: 0.1%;
    font-size: 16px;
    text-align: center;
    visibility: hidden;
}
#cinfodiv {
    max-width: 90%;
    margin-left: 5%;
}
#vandiv {
    justify-content: center;
    margin-right: 10%;
}
.ctitle {
    text-decoration: underline;
}
.item {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-left: 3%;
    padding-bottom: 4%;
}
.iti {
    position: relative;
    padding-right: 5%;
    padding-left: 5%;
}
.oritem {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-left: 3%;
    padding-bottom: 4%;
    font-size: 16px;
}
.menuX {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    padding-right: 8px;
    padding-top: 2px;
    color: #757575;
    width: 22px;
    height: 22px;
    margin-top: 0%;
    margin-bottom: 0%;
    font: 22px Tahoma, Verdana, sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
.menuX:hover {
    filter: brightness(75%);
}

#setIcon {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: 2%;
    border-color: #38352e;
    border-radius: 3px;
    padding: 5px;
    z-index: 1000;
    cursor: pointer;
}
#setTT {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 52px;
    margin-top: 7px;
    z-index: 1000;
}
#settings {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
    flex-direction: column;
}
.seth {
    font-size: 16px; 
    margin-bottom: 0.5%;
    margin-top: 2.5%;
}
.bigSC {
    position: relative;
    width: 14px;
    height: 14px;
    margin-top: 2.5%;
}
.bigSL {
    font-size: 15px;
}
.SC {
    margin-left: 3%;
    margin-top: 2%;
}
#setche {
    text-align: left;
    margin-left: 5%;
}

#trackerIcon {
    width: 37.5px;
    height: 24.4px;
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 2%;
    border-color: #38352e;
    border-radius: 3px;
    padding: 5px;
    z-index: 1000;
    cursor: pointer;
    margin-top: 50px;

}
#trackerTT {
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 60px;
    margin-top: 54px;
}
.tt {
    background-color: #38352e;
    padding: 5px;
    border-radius: 2px;
    opacity: 0%;
    visibility: hidden;
    color: #c0c0c0;
    font-size: 14px;
    z-index: 1000;
    transition: opacity 0.2s;
}

#setIcon:hover + #setTT{
    visibility: visible;
    opacity: 100%;
}
#trackerIcon:hover + #trackerTT {
    visibility: visible;
    opacity: 100%;
}   
#tracker {
    position: absolute;
    right: 0;
    top: 0;
    text-align: center;
}
#traX {
    padding-right: 5px;
}
.titem {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 10px 3px 0px;
    display: inline-block;
    cursor: pointer;
    /* filter: brightness(50%); */
}
.tbox {
    width: 60px;
    height: 60px; 
    -webkit-user-drag: none;
}
.timage {
    position: absolute;
    z-index: 1100;
    top: 0;
    left: 0;
    margin-top: 12.5px;
    -webkit-user-drag: none;
}
.tdungeon {
    display: inline-block;
    width: 100px;
    height: 100px;
}
.tbbox {
    width: 70px;
    height: 70px; 
    -webkit-user-drag: none;
}
.tkbox {
    position: absolute;
    margin-top: -10px;
    margin-left: -38px;
    width: 40px;
    height: 40px; 
    -webkit-user-drag: none;
}
.tbkbox {
    position: absolute;
    margin-top: -85px;
    margin-left: 5px;
    width: 40px;
    height: 40px; 
    -webkit-user-drag: none;
}
.tki {
    width: 35px; 
    height: 35px; 
    margin-left: -2px; 
    margin-top: 2px;
}
.tbki {
    width: 27.1px; 
    height: 35px; 
    margin-left: 45px; 
    margin-top: -72px;
}
.tdsr {
    margin-top: -110px;
}
